# Editor
*.sublime-workspace
*.sublime-project

# Python
__pycache__
poetry.toml
dist/
.coverage*

# Documentation
docs/_build
_site/docs
_site/coverage

# Tracing
jax-trace

# Personal
note.txt

# Output
*.png
