# Editor
*.sublime-workspace
*.sublime-project

# Python
__pycache__
poetry.toml
dist/
.coverage*
.venv/
uv.lock.backup

# Documentation
docs/_build
_site/docs
_site/docs-dev
_site/coverage
_site/benchmarks

# Tracing
jax-trace

# Output
*.png
