# Python
__pycache__
dist/
.coverage*
.venv/

# jax tracer
**/????_??_??_??_??_??/ALL_HOSTS.op_stats.pb
**/????_??_??_??_??_??/cache_version.txt
**/????_??_??_??_??_??/*.SSTABLE
**/????_??_??_??_??_??/*.trace.json.gz
**/????_??_??_??_??_??/*.xplane.pb
**/????_??_??_??_??_??/*.hlo_proto.pb
**/????_??_??_??_??_??/.cached_tools.json

# python profiler
*.prof
